{{ define "main" }}
<div class="wave"></div>
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI5KJI&placement=gregmorriscouk" id="_carbonads_js"></script>
<div class="content-area">
    <main class="blog-main container">
        <div class="blog-feed">
            <div class="grid-item grid-sizer"></div>
            {{ if or .IsHome .Site.Params.paginate_categories }}
				{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
				{{ $list := $paginator.Pages }}
			{{ range $list  }}
				{{ partial "blog_loop.html" . }}
			{{ end }}
			{{ else }}
				{{ $list := where .Data.Pages.ByDate.Reverse "Type" "post" }}
				{{ range $list  }}
				{{ partial "blog_loop.html" . }}
			{{ end }}
			{{ end }}
        </div>
        {{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}
    </main>
</div>
{{ end }}