{{ define "main" }}
<div class="content-area">
    <main class="site-main">
            <article class="post single">
                <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESI5KJI&placement=gregmorriscouk" id="_carbonads_js"></script>
                <header class="post-header container large">
                    <h1 class="post-title">{{ .Title }</h1>
                </header>
                <div class="post-content kg-canvas u-text-format">
                    {{ .Content }}
                <span class="blog-post-meta">
                    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">Posted on {{ .Date.Format "3:04 PM, Jan 2" }}</time>
                
                </span>
                </div>
            </article>
    </main>
</div>
{{ end }}