<div class="blog-post-card">
    <article>
            <div class="post-card-info">
                {{ if .Title }}
                <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</h2></a>
                {{ end }}
                <div class="blog-post-meta">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">Posted on {{ .Date.Format "3:04 PM, Jan 2" }}</time>
                </div>
                <div class="blog-post-excerpt">{{ .Content }}</div>
            </div>
    </article>
</div>
<span class="separator"><span class="divider"></span></span>