<ul class="nav-list u-plain-list">
    <li class="menu-item menu-item-home">
        <a class="menu-item-link" href="https://gregmorris.co.uk/">Home</a>
    </li>
    <li class="menu-item menu-item-about">
        <a class="menu-item-link" href="https://gregmorris.co.uk/about/">About</a>
    </li>
    <li class="menu-item menu-item-photos">
        <a class="menu-item-link" href="https://gregmorris.co.uk/photos/">Photos</a>
    </li>
    <li class="menu-item menu-item-life">
        <a class="menu-item-link" href="https://gregmorris.co.uk/micro/">Life</a>
    </li>
</ul>