<ul class="nav-list u-plain-list">
    <li class="menu-item menu-item-home">
        <a class="menu-item-link" href="https://gregmorris.co.uk/">Home</a>
    </li>
    <li class="menu-item menu-item-about">
        <a class="menu-item-link" href="https://gregmorris.co.uk/blog/">Blog</a>
    </li>
    <li class="menu-item menu-item-about">
        <a class="menu-item-link" href="https://gregmorris.co.uk/links/">Hot Takes</a>
    </li>
    <li class="menu-item menu-item-photos">
        <a class="menu-item-link" href="https://gregmorris.co.uk/photos/">Photos</a>
    </li>
    <li class="menu-item menu-item-life menu-item">
        <a class="menu-item-link" href="https://gregmorris.co.uk/aya/">Podcast</a>
    </li>
    <li class="menu-item menu-item-life menu-item-current">
        <a class="menu-item-link" href="https://micro.gregmorris.co.uk">Life</a>
    </li>
</ul>